<%- include('header'); -%>
    
    <p>This is our about page</p>
    <div class="box">
        <p>
            Hope you are enjoying using the website. For any queries or feedback,
            please feel free to contact us:
        </p>
        <ul>
            <li>
                <strong>Developer:</strong> Amey Dhimte
            </li>
            <li>
                <strong>Email:</strong>
                <a href= "ameydhimtecoding@gmail.com"   >ameydhimtecoding@gmail.com</a>
            </li>
        </ul>
    </div>

    <%- include('footer'); -%>