<%- include('header'); -%>

<p>This is our about page</p>
<div class="box">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima illo quidem debitis ratione cupiditate esse
            quibusdam obcaecati necessitatibus, in voluptate temporibus aliquid porro velit aut similique error nesciunt
            laborum facilis?</p>
    </div>

<%- include('footer'); -%>